@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|Sedgwick+Ave+Display&effect=anaglyph');

body {
  text-align: center;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 5vh;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-family: 'IBM Plex Mono', monospace;
}
